<!DOCTYPE html>
<html lang="en" class="lock">
<head>
<title>#{movie.title}</title>
<meta charset="utf-8">
<meta name="google" content="notranslate">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="//static.wdjimg.com/www/stylesheets/new/eyepetizer-detail.6616c388.css">
</head>
<body><div class="container">
<div id="video-container">
//<video src="http://182.92.153.230/file/#{movie.video}" controls="controls">
//</video>
<video id="video" controls="" webkit-playsinline="" src="http://182.92.153.230/file/#{movie.video}"></video>
<div id="video-poster" style="background-image: url(http://182.92.153.230/file/#{movie.image});"></div>
<div id="video-play-btn-container">
<div id="video-play-btn"></div>
</div>
</div>
<div id="content-container">
<div id="content">
<h1 id="content-header">#{movie.title}</h1>
<div class="divider-h short"></div>
<p id="content-meta">
<span class="content-meta-category">#{movie.category}</span>
//<span id="content-meta-duration"></span>
</p>
<p id="content-description">
<span id="content-description-text">#{movie.description}</span>
</p>
</div>
<div class="divider-h"></div>

<div id="other">
<div id="download-container">
<div id="download" class="clear launch" style="text-align:center;padding:15px 0;">
//<a href="http://pre.im/visapp"><div id="download-logo"></div></a>
<a  href="http://pre.im/visapp" style="padding: 10px 30px;font-size: 20px;color: #fff;background-color: transparent;border-color: #cdbfe3;border-radius: 6px;display: inline;text-decoration: none;border: 1px solid;">下载微爱视</a>

</div></div>
</div>

//<a href="http://pre.im/visapp"><div id="download-logo"></div></a>

</div>
</div>

<script src="//static.wdjimg.com/www/javascripts/www/campaign/eyepetizer-detail.87c802b2.js"></script>
</body></html>